<div class="verticalgap" style="height:60px"></div>

<footer class="footer footer-home">
    <div class="footer-top">

        <div class="footer-logo text-center">
            {% include "logo.html" %}
        </div>
        <div class="container text-center">
            <ul class="social-icons list-inline">
                <li>
                    <a href="https://www.facebook.com/sparcopen/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SPARC_NA" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/groups/4184894" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://sparcopen.org/contact/">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-black">
        <div class="container text-center">
            <div class="col-xs-12">
                <p>
                    <a href="https://sparcopen.org/privacy-policy/">Privacy Policy</a>   |
                    <a href="https://sparcopen.org/contact/">Contact Us</a>  |
                    <span style="margin-left: 15px">© 2007 - 2017 SPARC,
                        <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" style="margin: 0">subject to a CC0 waiver</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
