<nav class="navbar navbar-default" id="primaryHeader">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="brand-img" href="https://sparcopen.org/">
                {% include "logo.html" %}
            </a>
        </div>

        <div class="navbar-header" id="navbar-header-right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sparc-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="sparc-navbar-collapse-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li> <a href="https://sparcopen.org/who-we-are/">Who We Are</a> </li>
                <li> <a href="https://sparcopen.org/what-sparc-does/">What We Do</a> </li>
                <li> <a href="https://sparcopen.org/why-open-matters/">Why It Matters</a> </li>
                <li> <a href="https://sparcopen.org/become-a-member/">Become a Member</a> </li>
            </ul>
            <ul class="social-icons list-inline pull-right">
                <li>
                    <a href="https://www.facebook.com/sparcopen/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SPARC_NA" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/groups/4184894" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://sparcopen.org/contact/">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://sparcopen.org/" class="search">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section class="page-topper" align="center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h6>SPARC Projects</h6>
                            <h1>Connect OER</h1>
                            <span class="feed-links">
                                <a href="https://sparcopen.org/open-education/">Open Education</a>
                            </span>
                        </div>
                    </div>
                    <div class="row sub-nav">
                        <div class="col-md-12">
                            <ul id="menu-connect-oer" class="menu">
                                <li class="menu-item"><a href="https://sparcopen.org/our-work/connect-oer/">About</a></li>
                                <li class="menu-item" style="background-color: white; color: #535353;"><a href="https://connect.sparcopen.org/directory/">Directory</a></li>
                                <li class="menu-item"><a href="http://sparcopen.org/our-work/connect-oer/reports">Reports</a></li>
                                <li class="menu-item"><a href="https://sparcopen.org/our-work/connect-oer/faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="verticalgap" style="height:60px"></div>
