{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome {{ object.username }} - <a href="/admin/logout/">logout</a></h2>

            {% if object.institution_set.all %}
                <p>You are assigned to the following institutions.</p>
                <ul>
                {% for obj in object.institution_set.all %}
                    <li>
                        <a href="{{ obj.get_absolute_url }}">
                            {{ obj }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>You have no institution assigned.</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
